name: Build Artifacts

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install Dependencies
        run: |
          npm init -y
          npm install typescript --save-dev

      - name: Compile with tsconfig
        run: |
          npx tsc

      - id: inject_core
        name: Inject CORE_URL & Get Time
        run: |
          # 获取日期时间 (UTC)
          UTC_TIME=$(TZ=UTC date '+%Y-%m-%d %H:%M:%S')
          echo "UTC_TIME=$UTC_TIME" >> $GITHUB_OUTPUT

          # 进行替换 Repo
          sed -i "s|REPOPLACEHOLDER|\${{ github.repository }}|g" src/snippet.js
          sed -i "s|REPOPLACEHOLDER|\${{ github.repository }}|g" src/frontend.html

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: "Build ${{ steps.inject_core.outputs.UTC_TIME }}"
          files: |
            src/snippet.js
            src/frontend.html
            dist/converter.js
          draft: false
          prerelease: false
          body: |
            在 **${{ steps.inject_core.outputs.UTC_TIME }}** *(UTC 时间)* 的自动构建
            配置的目标仓库: **`${{ github.repository }}`**
            **请不要 删除 / Private 此仓库或 Release, 否则生成的 `snippet.js` 和 `frontend.html` 将无法使用!**
            ---
            - `snippet.js`: **上传到 Cloudflare Snippets 的 Snippet 文件**
            - `frontend.html`: 配合 `snippet.js` 使用的前端文件 (也可单独使用)
            - `converter.js`: *打包后的转换器核心逻辑*
